<div class="about">
  <div class="about__grid">
    <div>
      <div class="about__image">
        <img src="/assets/images/avatar.jpeg" width="150px" alt="avatar" title="Victor Roa">
      </div>
      <div class="about__info">
        <h1 class="about__name">Victor Roa</h1>
        <div class="about__social">
          <a class="social__link" href="https://twitter.com/vlrr91" target="_blank" rel="noopener noreferrer">
            <ion-icon class="social__logo" name="logo-twitter"></ion-icon>
          </a>
          <a class="social__link" href="https://github.com/vlrr91" target="_blank" rel="noopener noreferrer">
            <ion-icon class="social__logo" name="logo-github"></ion-icon>
          </a>
        </div>
      </div>
    </div>
    <div>
      <div class="about__desc">
        <p>
          <span class="about__hello">Hola </span>
          soy desarrollador de software enfocado en el área
          <span class="about__front"> Frontend</span>, me gusta crear aplicaciones web que tengan un alto rendimiento.
          Me adapto rápidamente a las nuevas tecnologías.</p>
      </div>
      <div class="about__skills">
        <ion-icon class="skill__icon html" name="logo-html5"></ion-icon>
        <ion-icon class="skill__icon css" name="logo-css3"></ion-icon>
        <ion-icon class="skill__icon js" name="logo-javascript"></ion-icon>
        <ion-icon class="skill__icon angular" name="logo-angular"></ion-icon>
        <ion-icon class="skill__icon react" name="logo-react"></ion-icon>
        <ion-icon class="skill__icon ionic" name="logo-ionic"></ion-icon>
        <ion-icon class="skill__icon firebase" name="logo-firebase"></ion-icon>
        <ion-icon class="skill__icon node" name="logo-nodejs"></ion-icon>
      </div>
    </div>
  </div>
</div>