.about {
  min-height: calc(100vh - 56px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.about__grid  {
  display: grid;
  max-width: 700px;
  grid-template-columns: auto auto;
  align-items: center;
}
.about__grid > div:nth-child(2) {
  margin-left: 2em;
  padding: 1em 1.5em;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  border-radius: 8px;
}
.about__grid > div:nth-child(2):hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.about__desc p {
  margin: 0;
  line-height: 1.6;
  user-select: none;
  color: #4d4949;
  letter-spacing: 1px;
}
.about__image {
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  background-color: #a6cff6;
}
.about__image img,
.about__info {
  width: 200px;
}
.about__info {
  margin-top: .5em;
}
.about__image img {
  display: block;
  margin: 0 auto;
  mix-blend-mode: multiply;
}
.about__name,
.about__social {
  text-align: center;
}
.about__name,
.social__logo {
  color: #2196f3;
}
.about__name {
  font-family: 'Pacifico', cursive;
  font-weight: 400;
  margin: 0;
  line-height: 1;
}
.about__hello,
.about__front {
  font-size: 1.1em;
  font-weight: 500;
}
.about__hello {
  color: #f97a55
}
.about__front {
  color: #2196f3;
}
.social__logo {
  font-size: 1.8em;
}
.about__skills {
  margin-top: 1em;
}
.skill__icon {
  font-size: 2rem;
  margin-right: .3rem;
}
.skill__icon.html {
  color: #F74A1D;
}
.skill__icon.css {
  color: #2174F8;
}
.skill__icon.js {
  color: #F0D91D;
}
.skill__icon.angular {
  color: #D70030;
}
.skill__icon.ionic {
  color: #478AFF;
}
.skill__icon.firebase {
  color: #F6A112;
}
.skill__icon.node {
  color: #7FC728;
}
.skill__icon.react {
  color: #00D8FF;
}
@media screen and (max-width: 768px) {
  .about {
    padding: 1em;
  }
  .about__grid {
    grid-template-columns: 1fr;
    height: auto;
    max-width: 500px;
  }
  .about__image {
    display: table;
    margin: 0 auto;
    margin-bottom: 1em;
  }
  .about__grid > div:nth-child(2) {
    margin-left: 0;
  }
  .about__info {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: .5em;
  }
}
@media screen and (max-width: 460px) {
  .about__image img {
    width: 150px;
  }
  .about__info {
    position: relative;
  }
  .about__name {
    line-height: 1.5;
  }
}
