.about-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
  max-width: 800px;
  margin: 0 auto;
}
.info-avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.info-title {
  margin: 1rem 0 0;
  font-family: 'Pacifico', cursive;
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 2rem;
  text-transform: capitalize;
  color: #2196F3;
}
.social-logo {
  font-size: 1.7rem;
  color: #2196F3;
}
.social-logo:hover {
  color: #1976D2;
}
.social-link:first-child {
  margin-right: .7rem;
}
.about-desc {
  line-height: 1.7rem;
  letter-spacing: 1px;
  color: #212121;
}
.about-skills {
  margin-top: 1rem;
}
.skill-icon {
  font-size: 2rem;
  margin-right: .3rem;
}
.skill-icon.html {
  color: #F74A1D;
}
.skill-icon.css {
  color: #2174F8;
}
.skill-icon.js {
  color: #F0D91D;
}
.skill-icon.angular {
  color: #D70030;
}
.skill-icon.ionic {
  color: #478AFF;
}
.skill-icon.firebase {
  color: #F6A112;
}
.skill-icon.node {
  color: #7FC728;
}
