<div class="about-content">
  <div class="about-info">
    <div class="info-avatar">
      <img src="/assets/images/avatar.png"
           width="150px"
           alt=""
           title="Victor Roa">
      <h1 class="info-title">Victor Roa</h1>
      <div class="info-social">
        <a class="social-link" href="https://twitter.com/vlrr91" target="_blank" rel="noopener noreferrer">
          <ion-icon class="social-logo" name="logo-twitter"></ion-icon>
        </a>
        <a class="social-link" href="https://github.com/vlrr91" target="_blank" rel="noopener noreferrer">
          <ion-icon class="social-logo" name="logo-github"></ion-icon>
        </a>
      </div>
    </div>
  </div>
  <p class="about-desc">
   <span class="">Hola</span> soy desarrollador de software, me gusta crear aplicaciones web que tengan un alto rendimiento.
    Me adapto rapidamente a las nuevas tecnologias, creo aplicaciones principalmente con Angular.</p>
  <div class="about-skills">
    <ion-icon class="skill-icon html" name="logo-html5"></ion-icon>
    <ion-icon class="skill-icon css" name="logo-css3"></ion-icon>
    <ion-icon class="skill-icon js" name="logo-javascript"></ion-icon>
    <ion-icon class="skill-icon angular" name="logo-angular"></ion-icon>
    <ion-icon class="skill-icon react" name="logo-react"></ion-icon>
    <ion-icon class="skill-icon ionic" name="logo-ionic"></ion-icon>
    <ion-icon class="skill-icon firebase" name="logo-firebase"></ion-icon>
    <ion-icon class="skill-icon node" name="logo-nodejs"></ion-icon>
  </div>
</div>
