<div class="projects-container">
  <div class="projects-content">
    <div class="projects">
      <ul class="projects-list">
        <li class="projects-item">
          <h4>Nombre proyecto</h4>
          <img src="https://ximg.es/300.png/09f/fff" alt="">
          <p>Descripcion proyecto</p>
          <div class="projects-links">
            <a>
              <ion-icon name="link-outline"></ion-icon> Web
            </a>
            <a>
              <ion-icon name="logo-github"></ion-icon> Github
            </a>
          </div>
        </li>
        <li class="projects-item">
          <h4>Nombre proyecto</h4>
          <img src="https://ximg.es/300.png/09f/fff" alt="">
          <p>Descripcion proyecto</p>
          <div class="projects-links">
            <a>
              <ion-icon name="link-outline"></ion-icon> Web
            </a>
            <a>
              <ion-icon name="logo-github"></ion-icon> Github
            </a>
          </div>
        </li>
        <li class="projects-item">
          <h4>Nombre proyecto</h4>
          <img src="https://ximg.es/300.png/09f/fff" alt="">
          <p>Descripcion proyecto</p>
          <div class="projects-links">
            <a>
              <ion-icon name="link-outline"></ion-icon> Web
            </a>
            <a>
              <ion-icon name="logo-github"></ion-icon> Github
            </a>
          </div>
        </li>
        <li class="projects-item">
          <h4>Nombre proyecto</h4>
          <img src="https://ximg.es/300.png/09f/fff" alt="">
          <p>Descripcion proyecto</p>
          <div class="projects-links">
            <a>
              <ion-icon name="link-outline"></ion-icon> Web
            </a>
            <a>
              <ion-icon name="logo-github"></ion-icon> Github
            </a>
          </div>
        </li>
      </ul>
    </div>
    <div class="projects-github">
      <h2>Repositorios Github</h2>
      <ul class="projects-github-list">
        <li class="projects-github-item">
          <h4 class="projects-github-name">Nombre repositorio</h4>
          <a href="#" class="projects-github-name">link</a>
        </li>
        <li class="projects-github-item">
          <h4 class="projects-github-name">Nombre repositorio</h4>
          <a href="#" class="projects-github-name">link</a>
        </li>
        <li class="projects-github-item">
          <h4 class="projects-github-name">Nombre repositorio</h4>
          <a href="#" class="projects-github-name">link</a>
        </li>
      </ul>
    </div>
  </div>
</div>
