.projects__grid {
  margin: 1.5em auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
  max-width: 700px;
}
.card {
  overflow: hidden;
  background-color: #FFFFFF;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  user-select: none;
}
.card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.card__title {
  margin: 0 1rem;
  padding: .7em 0 .5em;
  color: #333131;
  font-size: 1.2em;
  font-weight: 500;
  border-bottom: 1px solid #333131;
}
.card__image {
  position: relative;
}
.card__image img {
  width: 100%;
  display: block;
}
.card__desc {
  color: #4d4949;
  margin: 0.5em 1em 0;
}
.card__list {
  list-style: none;
  padding-left: 0;
  margin: 1em;
  display: flex;
  flex-wrap: wrap;
  color: #FFFFFF;
}
.card__list li {
  background-color: #2196F3;
  font-weight: 500;
  font-size: small;
  height: 25px;
  display: flex;
  align-items: center;
  padding: 0 .7em;
  border-radius: 25px;
  margin-right: .5em;
  margin-bottom: .5em;
  text-transform: uppercase;
}
.card__links {
  background-color: #333131;
  display: flex;
  padding-left: 1em;
  height: 30px;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.card__link {
  display: flex;
  align-items: center;
  color: #FFFFFF;
  padding: .1em 0;
}
.card__link:first-child {
  margin-right: .5em;
}
.card__icon {
  margin-right: .3em;
}
.card__extra-info {
  margin: 0 1em;
}
.card__extra-info a {
  color: #2196F3;
}
@media screen and (max-width: 768px) {
  .projects__grid {
    padding: 0 2em;
  }
}
@media screen and (max-width: 640px) {
  .projects__grid {
    grid-template-columns: 1fr;
    max-width: 450px;
    width: 100%;
    padding: 0 1em;
  }
}

