.projects__grid {
  margin: 1.5em auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
  max-width: 800px;
}
.card {
  overflow: hidden;
  background-color: #FFFFFF;
  border-radius: 8px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.card__title {
  margin: 0 1rem;
  padding: .7em 0 .5em;
  color: #333131;
  font-size: 1.2em;
  letter-spacing: 2px;
  font-weight: 500;
  border-bottom: 1px solid #333131;
}
.card__image img {
  width: 100%;
  display: block;
}
.card__desc {
  color: #4d4949;
  margin: 0.5em 1em 0;
}
.card__list {
  list-style: none;
  padding-left: 0;
  margin: 1em;
  display: flex;
  flex-wrap: wrap;
  color: #FFFFFF;
}
.card__list li {
  background-color: #2196F3;
  font-weight: 500;
  font-size: small;
  height: 25px;
  display: flex;
  align-items: center;
  padding: 0 .7em;
  border-radius: 25px;
  margin-right: .5em;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.card__links {
  background-color: #5e5959;
  display: flex;
  padding-left: 1em;
}
.card__link {
  display: flex;
  align-items: center;
  color: #FFFFFF;
  padding: .1em 0;
}
.card__link:first-child {
  margin-right: .5em;
}
.card__icon {
  margin-right: .3em;
}

