.app-menu {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 0;
  background-color: #333131;
  padding: .5rem;
}
.menu-link {
  position: relative;
  display: block;
  text-decoration: none;
  font-weight: 500;
  padding: .5rem 0;
  text-transform: uppercase;
  color: #FFFFFF;
  letter-spacing: 2px;
  margin: 0 .5rem;
}
.project-info {
  background-color: #FFFFFF;
}
.active {
  color: #FFFFFF;
  border-bottom: 2px solid #f97a55;
}
