<div class="app-container">
  <div class="app-navigation">
    <ul class="app-menu">
      <li class="menu-item">
        <a [routerLink]="['/about']"
           routerLinkActive="active"
           class="menu-link">Acerca</a>
      </li>
      <li class="menu-item">
        <a [routerLink]="['/projects']"
           routerLinkActive="active"
           class="menu-link">Proyectos</a>
      </li>
    </ul>
  </div>

  <div [@slideInAnimation]="o.isActivated ? o.activatedRoute: ''">
    <router-outlet #o=outlet></router-outlet>
  </div>
</div>
